* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0;
    margin: 0;
    color: #f9faf8;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.header-logo {
    width: 100px;
    height: 80px;
}


ul {
    list-style: none;
}

.header-links {
    display: flex;
    gap: 8px;
    padding: 0;
    margin-top: 2vh;
}

.start-info {
    margin-top: 9vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.column-info {
    display: flex;
    flex-direction: column;
}

.sign-up-btn {
    width: 150px;
    height: 50px;
}

.rain-photo {
    width: 300px;
    height: 178px;
}