* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    margin-top: 40px;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

.top-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    padding: 0;
    margin: 0;
    height: 55vh;
}

img {
    width: 100%;
    height: 100%;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header-logo {
    width: 100px;
    height: 80px;
}


ul {
    list-style: none;
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 16px;
    padding: 0;
    margin-top: 2vh;
}

.start-info {
    margin-top: 8vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}

.column-info {
    display: flex;
    flex-direction: column;
}

.sign-up-btn {
    width: 120px;
    height: 35px;
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    color: #f9faf8;
    font-size: 18px;
    margin-top: 15px;
}

.rain-photo {
    width: 430px;
    height: 243px;
}

.box-image {
    display: flex;
    width: 240px;
    height: 200px;
    border-radius: 10px;
    border-style: solid;
    border-width: 3px;
    border-color: #3882F6;
}

.container-showcase {
    margin-top: 45px;
    display: flex;
    flex-direction: row;
    gap: 48px;
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 55vh;
}

.subtext {
    color: slategray;
    text-align: center;
    font-size: 18px;
    margin-top: 8px;
}

.quote-background {
    background-color: #e5e7eb;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-container {
    display: flex;
    width: 800px;
    flex-direction: column;
    align-items: flex-end;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.attribution {
    font-size: 36px;
    color: #1F2937;
}

.cta-background {
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 8px;
    width: 1000px;
    height: 150px;
}

.left-text-cta {
    display: flex;
    flex-direction: column;
}

.text-cta-top {
    font-size: 30px;
    color: #f9faf8;
}

.text-cta-lower {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up-btn-white {
    border-style: solid;
    background: none;
    border-radius: 8px;
    font-size: 18px;
    color: #f9faf8;
    border-color: #f9faf8;
    border-width: 2px;
    width: 140px;
    height: 40px;
    font-size: 18px;
    color: #f9faf8;
}